.container{
  background: #008E97;
  width: 100%;
  min-height: 100vh;
}


.inside-container{
  display: flex;
  margin: auto;
  background-color: black;
  border: 2px solid black;
  width: 1400px;
  min-height: 100vh;
  border-radius: 30px;
}


